@charset 'utf-8';

body {font-family: 'Noto Sans KR', sans-serif;}
.page-content {padding:30px;}


/* navigation */
.navigation-depth-01.mdl-navigation {position:relative;}
.navigation-depth-02.mdl-navigation {position:absolute; top:70px; left:0; width:100%; display:none; border:1px solid #ccc; background:#fff; padding:10px 0;}
.navigation-depth-02.mdl-navigation {height:auto;}
.navigation-depth-02.mdl-navigation .mdl-navigation__link {display:block; color:#333; line-height:1; padding:5px 0; text-align:center; font-weight:300;}

.mdl-layout__drawer .navigation-depth-01.mdl-navigation .mdl-navigation__link {color:#000; font-weight:700; line-height:1; text-align:left; padding:10px 0;}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {background:none;}
.mdl-layout__drawer .mdl-navigation {padding:10px; border-left:none; border-right:none; background:none;}
.mdl-layout__drawer .navigation-depth-02.mdl-navigation {position:relative; top:auto; left:auto;}
.mdl-layout__drawer .navigation-depth-02.mdl-navigation .mdl-navigation__link {padding:10px 0; color:#555; text-align:left; font-weight:300;}